
*{
    margin: 0;
    padding: 0;
}
.carru {
    margin-bottom: 20px;
}

.fotos {
    width: 80%;
    align-items: center;
    justify-content: center;
}
.img {
    align-items: center;
    justify-content: center;
}